.btn-wrap {
    margin-top: 20px;
    margin-bottom: 20px;
}
.btn {
    text-decoration: none;
    border-radius: 20px;
    padding: 5px;
    margin-left: 5px;
}
.upload {
    border: 1px solid rgba(255, 99, 132, 1); 
    color: rgba(255, 99, 132, 1);
}
.upload:hover {
    background-color: rgba(255, 99, 132, 1);
    color: white;
}
.register {
    border: 1px solid rgba(75,  192,  192,  1); 
    color: rgba(75,  192,  192,  1);
}
.register:hover {
    background-color: rgba(75,  192,  192,  1);
    color: white;
}
.chart-wrap {
    position: relative; 
    height:40vh; 
    width:80vw
}
