<!-- <script src="{{ url_for('static', filename='js/Chart.min.js') }}"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.js"></script>
<body>
    <ul>
        <li><a href="{{ url_for('upload') }}">upload firmware</a></li>
        <li><a href="{{ url_for('register') }}">register device</a></li>
    </ul>
    <div style="position: relative; height:40vh; width:80vw">
        <canvas id="chart"></canvas>
    </div>
<script>
    var chartDefault = {
        type: 'bar',
        data: {
            labels: {{ log_data['labels']|safe }},
            datasets: [{
                type: 'bar',
                label: '등록된 디바이스 수',
                data: {{ log_data['devices']|safe }},
                backgroundColor: 'rgba(75, 192, 192, 0.2)',
                borderColor: 'rgba(75, 192, 192, 1)',
                borderWidth: 1
            }, {
                type: 'line',
                label: '업로드된 펌웨어 파일 수',
                data: {{ log_data['firms']|safe }},
                backgroundColor: 'rgba(255, 99, 132, 0.2)',
                borderColor: 'rgba(255,99,132,1)',
                borderWidth: 1
            }, {
                type: 'line',
                label: '펌웨어 업로드에 성공한 수',
                data: {{ log_data['success']|safe }},
                backgroundColor: 'rgba(75, 00, 150, 0.2)',
                borderColor: 'rgba(75, 00, 150,1)',
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true,
                        callback: function(value) {if (value % 1 === 0) {return value;}}
                    }
                }]
            }
        }
    };
    var chart = new Chart(document.getElementById("chart"), chartDefault);
 </script>
</body>
