<head>
    <title>BISS Firmware Server</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='./css/style.css') }}">
    <script src="{{ url_for('static', filename='./js/Chart.js') }}"></script>
</head>
<body>
    <div class="btn-wrap">
        <a class="btn upload" href="{{ url_for('upload') }}">upload firmware</a>
        <a class="btn register" href="{{ url_for('register') }}">register device</a>
    </div>
    <div class="chart-wrap">
        <canvas id="chart"></canvas>
    </div>
<script>
    var chartDefault = {
        type: 'bar',
        data: {
            labels: {{ log_data['labels']|safe }},
            datasets: [{
                type: 'bar',
                label: '등록된 디바이스 수',
                data: {{ log_data['devices']|safe }},
                backgroundColor: 'rgba(75, 192, 192, 0.2)',
                borderColor: 'rgba(75, 192, 192, 1)',
                borderWidth: 1
            }, {
                type: 'line',
                label: '업로드된 펌웨어 파일 수',
                data: {{ log_data['firms']|safe }},
                backgroundColor: 'rgba(255, 99, 132, 0.2)',
                borderColor: 'rgba(255, 99, 132, 1)',
                borderWidth: 1
            }, {
                type: 'line',
                label: '펌웨어 업로드에 성공한 수',
                data: {{ log_data['success']|safe }},
                backgroundColor: 'rgba(75, 00, 150, 0.2)',
                borderColor: 'rgba(75, 00, 150,1)',
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true,
                        callback: function(value) {if (value % 1 === 0) {return value;}}
                    }
                }]
            }
        }
    };
    var chart = new Chart(document.getElementById("chart"), chartDefault);
</script>
</body>
