<h1>Update Firmware File</h1>
<form method="POST" enctype="multipart/form-data">
    <p><input type=file name=file></p>
    <div class="devices">
        <h2>Select Devices to upload</h2>
        {% if not devices %}
            <p>No registered devices: Register in <a href="{{ url_for('register') }}">here</a></p>
        {% else %}
            <ul>
                {% for device in devices %}
                    <li><input type="checkbox" name="devices" value="{{ device.name }}">{{ device.name }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
    <input type=submit value=Upload>
</form>
